## Python Workshop Series: Pandas
#### Chris McCray - 29 March 2019

* There are many ways to read CSV data. Python's standard library includes the "csv" package
* "Pandas" (https://pandas.pydata.org/) is one of the key packages in scientific Python and data science
* Pandas makes reading CSVs easy, handles missing data well, and allows for quick calculations and plotting
* A Pandas dataframe is like an Excel spreadsheet, but much faster and more flexible

If you installed with anaconda, you should already have pandas

If you don't have it, run 
"conda install pandas"

In [ ]:
import pandas as pd

We'll also need matplotlib for the plotting component of this workshop.

In [ ]:
import matplotlib.pyplot as plt

Dictionaries are useful tools for mapping a data field (a key) with values
(Example inspired by https://towardsdatascience.com/pandas-dataframe-a-lightweight-intro-680e3a212b96)

For more details on Pandas basics, see https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

In [ ]:
my_dict = { 
     'name' : ["John", "Diane", "Joe", "Danielle", "Ashley", "Sam"],
     'age' : [20,55, 35, 40, 21, 35],
     'salary' : [41000,73000, 68000, 65000, 50000, 55000],
     'designation': ["VP", "CEO", "CFO", "VP", "VP", "VP"]
}

In [ ]:
my_dict['age']

In [ ]:
my_dict

But what if you want to get the designation for Employee Sam? There are several ways to do this, but most are not clean and straightforward

We can use **Pandas** for this. Pandas has two basic data structures:
* **Series**, which are one-dimensional labeled arrays, resembling dictionaries
* **DataFrame** (most commonly used) is 2-dimensional, like a spreadsheet, or a dictionary of Series

In [ ]:
employees = pd.DataFrame(my_dict)

In [ ]:
employees

Dataframes are made up of **rows** and **columns**. Each column has the same data type.

We can set a column (or multiple columns!) as the **index**

In [ ]:
employees.set_index('name', inplace=True)
employees

In [ ]:
print(employees.index)
print(employees.columns)

In [ ]:
employees.loc['John']

In [ ]:
employees.iloc[3]

We can subset dataframes based on values of each column

In [ ]:
#Employees where age > 30
employees[employees.age > 30]

In [ ]:
employees[employees['designation'] == 'VP']

We can easily set values or add new columns

In [ ]:
employees.loc['John', 'age'] = 22

In [ ]:
employees['city'] = 'Montreal'

In [ ]:
employees

In [ ]:
employees.loc['Diane','city'] = 'Toronto'

In [ ]:
employees

With DataFrames, we can perform numerous math operations and get descriptive statistics easily

In [ ]:
employees.age.describe()

In [ ]:
employees['age']+10

In [ ]:
employees.designation.value_counts()

Pandas is extremely useful for working with **time series** and dates, as we'll see in a moment

In [ ]:
pd.date_range('1/1/2019','1/12/2019')

Finally, visualization with **matplotlib** is very quick and easy!

In [ ]:
import matplotlib.pyplot as plt
% matplotlib inline

In [ ]:
employees.plot()

In [ ]:
employees.plot.scatter(x='age',y='salary')

In [ ]:
employees.age.plot.hist()
plt.show()

### Real-world dataset example:
#### We'll read in a CSV file that contains daily weather data from 1871-2019 from Environment and Climate Change Canada for the weather station located on the McTavish Reservoir (CWTA)

Note that this station has changed locations several times. It was located at the McGill Observatory, where Leacock now stands, until 1963. It was then located at various sites on the McGill lower campus until 1993 and on McTavish Reservoir from 1994-present. See details in my blog post (https://web.meteo.mcgill.ca/cmccray/climate-change-montreal-winter/#details) if you're interested.

In [ ]:
mtl_weather = pd.read_csv('http://www.cdmccray.com/python_tutorial/pandas/montreal_daily_weather.csv')

In [ ]:
mtl_weather.shape

We can easily convert the date column to datetime objects

In [ ]:
mtl_weather['Date/Time'] = pd.to_datetime(mtl_weather['Date/Time'])

In [ ]:
mtl_weather['Date/Time'].dt.month

Let's set our index to the date of observation

In [ ]:
mtl_weather.set_index('Date/Time', inplace=True)

**Grouping** is one of the most powerful and useful features of Pandas

From the "10 minutes to Pandas" page:
By “group by” we are referring to a process involving one or more of the following steps:
* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
mtl_weather.groupby('Year').count()['Max Temp (°C)'].plot()

This takes all of the rows with the same value for "Year", and then applies the "count" function to them. 

Above, we've plotted the number of (**non-NaN**) Max Temp values for each year. "count" does not count missing/NaN values

Note that we can see there are several years in the 1990s with lots of missing data.

We can remove rows with missing data by using dropna.

In [ ]:
mtl_weather.dropna()

Notice that each row has a missing value for at least one of the fields. Let's only drop the rows without a Max Temperature value

In [ ]:
mtl_weather.dropna(subset=['Max Temp (°C)'], inplace=True)

Now let's look at some more interesting features of this dataset. 

Let's calculate the average yearly temperature for each year to see if there's a trend:

In [ ]:
mtl_weather.groupby('Year').mean()['Mean Temp (°C)'].plot.bar(figsize=[25,5])
plt.show()

There are a few years where the average temperature is way below the other years. This is because those years have lots of missing values in parts of the year (evidently in the warmer parts). 
 
We can handle this by only looking at years with at least X number of observations.

In [ ]:
#Calculate the number of mean temperature observations in each year
yearly_counts = mtl_weather.groupby('Year').count()['Mean Temp (°C)']

In [ ]:
yearly_counts.plot()

Lets say our threshold for a year with a sufficient amount of data is 350 days

In [ ]:
good_years = yearly_counts[yearly_counts>350].index

In [ ]:
good_years

Subset the dataframe to include ONLY data from our "good years"

In [ ]:
mtl_weather = mtl_weather[mtl_weather.Year.isin(good_years)]

In [ ]:
mtl_weather.groupby('Year').mean()['Min Temp (°C)'].plot(figsize=[15,5])
plt.show()

We can now easily get extreme values and other stats of the dataset

In [ ]:
mtl_weather['Min Temp (°C)'].nsmallest()

In [ ]:
mtl_weather['Max Temp (°C)'].nlargest(10)

In [ ]:
mtl_weather.describe()

Since our dataframe has datetime objects as in the index, we can quickly calculate things like rolling averages

Let's just look at 2018

In [ ]:
mtl_2018 = mtl_weather[mtl_weather.Year==2018]

In [ ]:
mtl_2018['Max Temp (°C)'].plot(figsize=[10,7])

In [ ]:
'''
Calculates a centered running mean Max Temperature for 14, 30, and 90 day windows 
Require at least 10 days of data to calculate the running mean
'''
#rolling_mean_14 = mtl_2018['Max Temp (°C)'].rolling(window=14, min_periods=10,center=True).mean()
rolling_mean_30 = mtl_2018['Max Temp (°C)'].rolling(window=30, min_periods=10,center=True).mean()
#rolling_mean_90 = mtl_2018['Max Temp (°C)'].rolling(window=90, min_periods=10,center=True).mean()

Now we'll plot the rolling average and the point data together

In [ ]:
mtl_2018['Max Temp (°C)'].plot(figsize=[10,7])
rolling_mean_30.plot(color='blue')

## Exercise 1
#### Calculate the warmest and coldest temperatures observed during each year in the dataset

## Exercise 2
#### Calculate and plot the average January minimum temperature for each year (in one line!)

## Exercise 3
#### Create a dataframe containing only data for March of each year

#### Now answer the question: How have March temperatures (average, max, min) changed from 1871 to today?